* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4em;;
}

#wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#timer {
    font-size: 80px; 
    margin: 15px; 
    text-align: center; 
    color: red; 
    visibility:hidden;
}   

#score {
    display: flex;
    flex-flow: column wrap;
}

#score h2 {
    /* flex: 30%; */
    font-size: 2em;
    margin: 10px;
    display: inline;
    /* border: 1px solid black; */
}

#score p {
    /* border: 1px solid black; */
    font-size: 50px;;
    padding: 20px;
    margin: 15px;
    display: inline;
}

#score div {
    margin: 20px;
    /* flex: 50%; */
    /* margin-left: 60px; */
}

#top-word-container {
    display: flex; 
    text-align: center; 
    padding: 40px; 
    justify-content: center;
    overflow: auto;
}

#user-char {
    font-size: 50px;
}

#game-msg {
    font-size: 50px; 
    margin: 15px; 
    text-align: center; 
    color: red;
}

#button {
    margin-top: 20px; 
    width: 100px; 
    height: 50px;
}


h1 {
    text-align: center;
}